services:
  - type: web
    name: pokedex-backend
    rootDir: backend
    env: node
    plan: free
    buildCommand: "npm install"
    startCommand: "npm run start"
    autoDeploy: true
    envVars:
      - key: NODE_VERSION
        value: 18
